#app {
    text-align: center;
    margin-top: 100px;
}

button {
    display: inline-block;
    padding: 0.5em 1.3em;
    border: 0.16em solid #000000;
    margin: 0.4em auto;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
}
button:hover {
    background-color: #dedede;
}
.active > a {
    border-color: #ff7003;
}

/* --- Tablet and Desktop --- */
@media all and (min-width: 768px) {
    button {
        margin: 0 0.3em 0.3em 0;
    }
}
